@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coded Homes Landing Page...</h1>
    <p class="lead">Welcome to Coded Homes - the leader for homes in the California Area</p>
</div>

